<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration>
    <!-- APPENDERS LIST -->
    <!-- show log entries on console -->
                <appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ABSOLUTE} %5p %c{1}:%L - %m%n"/>
        </layout>
    </appender>

    <!-- log all logs to a separate log file every day -->
    <appender name="fileAppender" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="file" value="log/file.log"/>
        <param name="datePattern" value="'.'yyyy-MM-dd"/>
        <param name="append" value="true"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%t] %-5p %C{3} (%F:%L) - %m%n"/>
        </layout>
    </appender>

    <!-- log all logs to a separate log file every day -->
    <appender name="debugFileAppender" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="file" value="log/debug.log"/>
        <param name="datePattern" value="'.'yyyy-MM-dd"/>
        <param name="append" value="true"/>
        <param name="threshold" value="debug" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%t] %-5p %C{3} (%F:%L) - %m%n"/>
        </layout>
    </appender>

    <!-- log all error logs -->
    <appender name="errorFileAppender" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="file" value="log/error.log"/>
        <param name="datePattern" value="'.'yyyy-MM-dd"/>
        <param name="append" value="true"/>
        <param name="threshold" value="error" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ABSOLUTE} %5p %c{1}:%L - %m%n"/>
        </layout>
    </appender>

    <!-- LOGGER LIST -->
    <!-- log all classes in hk.ust.cse.TwitterClient package -->
    <logger name="hk.ust.cse.TwitterClient">
        <!-- level info logs -->
        <level value="INFO"/>
        <appender-ref ref="fileAppender"/>
    </logger>
    <logger name="hk.ust.cse.TwitterClient">
        <!-- level debug logs -->
        <level value="DEBUG"/>
        <appender-ref ref="debugFileAppender"/>
    </logger>

    <root>
        <priority value="debug"></priority>
        <!-- log all log entries on console -->
        <appender-ref ref="consoleAppender"/>
        <!-- push all error logs to mailAppender -->
        <appender-ref ref="errorFileAppender"/>
    </root>
</log4j:configuration>
